body{
	background-image: url("gpacalcdesign.png");
	background-size: cover;
	background-repeat: no-repeat;
}

.white-box {
    background-color: white;
    color: black;
    width: 100px;
    height: 50px;
	padding: 150px; 
	object-position: center;
}

